<html>
<head>
  <meta charset="UTF-8">
  <!-- <script language="javascript" type="text/javascript" src="p5.js"></script>
  <script language="javascript" src="p5.dom.js"></script>
  <script language="javascript" type="text/javascript" src="sketch.js"></script> -->
</head>
<body>
<div class="container">
    <!-- <div id="sketch"></div> -->
<%= form_for @artwork, html: { multipart: true } do |f| %>

  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>
      <ul>
      <% @artwork.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :Style %><br>
    <%= f.collection_check_boxes :tag_ids, Tag.where(category: "style"), :id, :name %> <br>
    Other: <%= f.text_field :style %>
  </div>

  <div class="field">
    <%= f.label :Medium %><br>
    <%= f.collection_check_boxes :tag_ids, Tag.where(category: "medium"), :id, :name %> <br>
    Other: <%= f.text_field :medium %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</div>
</body>
</html>
