<style type="text/css">
 body {
     background-image: none;
 }
</style>

<% if @artwork.errors.any? %>
<div class="ui error message">
  <div class="header">
    <h4>
      Something went wrong...
    </h4>
  </div>
  <ul class="list">
    <% @artwork.errors.full_messages.each do |message| %>
    <li><%=message%></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if @artwork.errors.any? %>
<div id="form_shake">
<%else%>
<div id="form_padding">
<%end%>
  <div id="artwork_new_padding">
    <div class="ui form">
      <%= form_for @artwork, html: { multipart: true } do |f| %>
        <h4 class="ui dividing header">Upload an Original Artwork</h4>

      <div class="field">
        <label>Name</label>
          <div class="field">
            <%= f.text_field :name %>
          </div>
      </div>

      <div class="field">
        <label>Year Created</label>
          <div class="field">
            <%= f.text_field :year %>
          </div>
      </div>

      <div class="field">
        <label>Upload Image</label>
          <div class="field">
            <%= f.file_field :image %>
          </div>
      </div>



      <div class="input_fields_wrap">
        <button class="add_field_button">Add Tags!!</button><br>
        <input type="text" name="mytext[]", placeholder="Add additional tags to your image"><br><br>
      </div>

      <div class="actions">
        <br><%= f.submit %></br>
      </div>
      <%end%>
    </div>
  </div>
