<p>
<%= @artwork.name %> <br>
<%= @artwork.user.name %> <br>
year: <%= @artwork.year.name%> <br> <br>

styles:
<%= (@artwork.style+@artwork.c_style).map { |style|  style.name }.join(", ") %>
<br> <br>

media:
<%= (@artwork.medium+@artwork.c_medium).map { |medium| medium.name}.join(", ") %>
<br><br>

tags:
<%= @artwork.c_tag.map {|tag| ctag.name}.join(", ") %>
</p>


<p>
  <strong>Image:</strong>
  <%= image_tag @artwork.image.thumb.url %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
