<p>Title: <%= @artwork.name %> <br></p>
By: <%= @artwork.user.name %> <br>
Year: <%= @artwork.year ? @artwork.year.name : "year unknown" %><br><br>

styles:
<%= (@artwork.style+@artwork.c_style).map { |style|  style.name }.join(", ") %>
<br> <br>

media:
<%= (@artwork.medium+@artwork.c_medium).map { |medium| medium.name}.join(", ") %>
<br><br>

tags:
<%= @artwork.c_tag.map {|tag| ctag.name}.join(", ") %>


<div class="">
  <p>
    <%= image_tag @artwork.image.url %>
  </p>
</div>
<div>
  Likes: <%= @vote_num %>
</div>
<%= button_to "Like", controller: :votes, method: :post, action: :like, artwork_id: @artwork.id %>
<%= button_to "Dislike", controller: :votes, method: :post, action: :dislike, artwork_id: @artwork.id %>

<div class="">
  <%= form_for @comment do |f|%>
    <%= f.hidden_field :artwork_id, value: @artwork.id %>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
    <%= f.label :comment %><br>
    <%= f.text_area :content %><br>
    <%= f.submit %>
  <% end %>
</div><br><br>

<div class="">
  <% if @comments %>
    <% @comments.each do |comment| %>
      <%= comment.user.username %><br>
      <%= comment.content %><br><br>
      <%= button_to "Delete Comment", controller: :comments, method: :post, action: :destroy, comment_id: comment.id %>
      <%= link_to "Edit Comment", "#", :id => 'showCommentEdit' %><br>
      <div id="editComment">
        <%= form_for comment do |f|%>
          <%= f.hidden_field :artwork_id, value: @artwork.id %>
          <%= f.hidden_field :user_id, value: session[:user_id] %>
          <%= f.label :comment %><br>
          <%= f.text_area :content %><br>
          <%= button_to "Update Comment", controller: :comments, method: :get, action: :update, comment_id: comment.id %><br><br>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
