<div style="font-size: 130%">
  <strong><%= @artwork.name %></strong>  <br>
  <%= link_to @artwork.user.name, @artwork.user %> <br>
  <i><%= @artwork.year ? @artwork.year.name : "year unknown" %></i><br><br>
</div>

<% if (@artwork.style+@artwork.c_style).empty? %>
<% elsif (@artwork.style+@artwork.c_style).count == 1 %>
  <strong>Style:</strong>
<% else %>
  <strong>Styles:</strong>
<% end %>
<%= (@artwork.style+@artwork.c_style).reject { |c| c.name.empty? }.map { |style|  link_to style.name.capitalize, style }.join(", ").html_safe if !!(@artwork.style+@artwork.c_style)%>
<br>

<% if (@artwork.medium+@artwork.c_medium).empty? %>
<% elsif (@artwork.medium+@artwork.c_medium).count == 1 %>
  <strong>Medium:</strong>
<% else  %>
  <strong>Media:</strong>
<% end %>
<%= (@artwork.medium+@artwork.c_medium).reject { |c| c.name.empty? }.map { |medium| link_to medium.name.capitalize, medium}.join(", ").html_safe if !!(@artwork.medium+@artwork.c_medium)%>
<br>

<% if !@artwork.c_tag.empty? %>
Tags:
<%= @artwork.c_tag.reject { |c| c.name.empty? }.map {|tag| link_to tag.name.capitalize, tag}.join(", ").html_safe %><br><br>
<% end %>
<br> <hr><br><br>

<div class="ui grid">

    <div class="five wide column">
      <div class="ui large image">
        <%= image_tag @artwork.image.url %>
      </div>
      <br><br>


      <div class="ui icon input">
        <%= form_tag like_path do %>
          <input name="artwork_id" type="hidden" value="<%= @artwork.id %>" />
          <button class="ui icon basic button">
            <i class="thumbs up outline icon"></i>
          </button>
        <% end %>
      </div>

      <div class="ui icon input">
        <%= form_tag dislike_path do %>
          <input name="artwork_id" type="hidden" value="<%= @artwork.id %>" />
          <button class="ui icon basic button">
            <i class="thumbs down outline icon"></i>
          </button>
        <% end %>
      </div>

      <br><br>
      <div>
        Likes: <%= @vote_num %>
      </div>

    </div>

    <div class="six wide column">
      <div class="ui reply form">
        <%= form_for @comment do |f|%>
          <%= f.hidden_field :artwork_id, value: @artwork.id %>
          <%= f.hidden_field :user_id, value: session[:user_id] %>
          <%= f.label :comment %><br>
          <div class="field">
            <%= f.text_area :content %><br>
          </div>

            <%= f.submit class: "ui basic button"%>

        <% end %>
      </div><br><br>
      <div class="container">
        <% if @comments %>
          <% @comments.each do |comment| %>
            <strong><%= comment.user.name %></strong> <br>
            <%= comment.content %><br><br>
              <% if comment.user_id == session[:user_id] %>
              <%= button_to "Delete Comment", controller: :comments, method: :post, action: :destroy, comment_id: comment.id, class: "ui basic small button"%>
            <%= link_to "Edit Comment", "#", :id => 'showCommentEdit', class: "ui basic small button" %><br>
            <div class="ui reply form">
              <div id="editComment">
                <%= form_for comment do |f|%>
                  <%= f.hidden_field :artwork_id, value: @artwork.id %>
                  <%= f.hidden_field :user_id, value: session[:user_id] %>
                  <%= f.label :comment %><br>
                  <%= f.text_area :content %><br>
                  <%= button_to "Update Comment", controller: :comments, method: :get, action: :update, comment_id: comment.id %><br><br>
                <% end %>
              </div>
            </div>

            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
