<style>

  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }

</style>

<div id='bg'>
   <%= image_tag("#{Random.new.rand(1..7)}.jpg") %>
</div>

<% if @user.errors.any? %>
  <div class="ui error message">
    <div class="header">
        <h4>
          <!-- <%= pluralize(@user.errors.count, "error") %>
          prohibited this user from being created: -->
          Something went wrong...
        </h4>
    </div>
    <ul class="list">
      <% @user.errors.full_messages.each do |message| %>
        <li><%=message%></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @user.errors.any? %>
<div id="form_shake">
<%else%>
<div id="form_padding">
<%end%>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <div class="ui large form">
        <div class="ui stacked segment">
          <div class="ui black image header">
          <div id="new_account_header">
            Create an account!
          </div>
          </div>
          <%= form_for @user do |f| %>

          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <%= f.text_field :name, placeholder: "Name" %>
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <%= f.text_field :username, placeholder: "Username" %>
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password, placeholder: "Password" %>
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
            </div>
          </div>

          <%= f.submit "Create Account", :class => "ui fluid large black submit button" %>
          <% end %>
        </div>

      </div>

      <div class="ui message">
        or have an account? <%= link_to "Sign In", '/login' %>
      </div>
    </div>
  </div>
</div>
</div>



<!--
<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label "Password" %>
  <%= f.password_field :password %><br>
  <%= f.label "Password Confirmation" %>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit %>
<% end %> -->
