<style type="text/css">
  body {
    background-color: #ffffff;
  }
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }
</style>

  <% if @user.errors.any? %>
  <div class="ui error message">
    <div class="header">
        <h4>
          <%= pluralize(@user.errors.count, "error") %>
          prohibited this user from being created:
        </h4>
    </div>
    <ul class="list">
      <% @user.errors.full_messages.each do |message| %>
        <li><%=message%></li>
      <% end %>
    </ul>
  </div>
  <% end %>


<div class="ui middle aligned center aligned grid">
  <div class="column">

    <h2 class="ui black image header">
      <!-- <img src="assets/images/logo.png" class="image"> -->
      <div id="new_account_header">
        Create an account!
      </div>
    </h2>

    <div class="ui large form">
      <div class="ui stacked segment">
        <%= form_for @user do |f| %>

        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.text_field :name, placeholder: "Name" %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.text_field :username, placeholder: "Username" %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, placeholder: "Password" %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
          </div>
        </div>
        <div>
          <button type="submit" class="ui button">Create Account</button>
        </div>
      </div>

    </div>
    <% end %>

        <%= f.submit "Create Account", :class => "ui fluid large black submit button" %>

        <% end %>
      </div>

    </div>
    <div class="ui message">
      or have an account? <%= link_to "Sign In", '/login' %>
    </div>
  </div>
</div>

<!--
<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label "Password" %>
  <%= f.password_field :password %><br>
  <%= f.label "Password Confirmation" %>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit %>
<% end %> -->
