
<%= @user.username %><br>
  <%= @user.name %> <br>
  <%= @user.bio %> <br>
  <%= image_tag @user.image.url %> <br>

<% if @user.id == session[:user_id] %>
  <%= button_to 'Edit My Account', '#', :id => 'showForm', class: "ui basic button" %>

  <div id='editUser'>
    <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :username %>
    <%= f.text_field :username %><br>
    <%= f.label :bio %>
    <%= f.text_area :bio %><br>
    <%= f.label :image %>
    <%= f.file_field :image %><br>
    <%= f.label "Password" %>
    <%= f.password_field :password %><br>
    <%= f.label "Password Confirmation" %>
    <%= f.password_field :password_confirmation %><br>
    <%= f.submit %>
    <%= link_to "Cancel", "#", :id => 'hideForm' %>
    <% end %>
  </div>
  <br><br><br>
<% end %>

<% if !@user.artworks.empty? %>
<h1 style="font-family: 'Quicksand', sans-serif;"><%= @user.name %> &nbsp | &nbsp Artworks:</h1><hr><br>
<div class="ui very relaxed grid container">
  <% @user.artworks.each do |artwork| %>
  <div class="four wide column">
    <div class="row">
      <div class="column">
        <strong><%= artwork.name %></strong><br>
      </div>
      <div class="column">
        <%= artwork.user.name %><br>
      </div>
      <div class="column">
        <i><%= artwork.year.name %></i>
      </div>
      <br>
      <div class="column middle aligned">
        <div class="ui fluid image"><%= link_to image_tag(artwork.image.url), artwork_path(artwork) %>
        </div><br><br>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
