<h1>Advanced Search</h1>

<%= form_for @search, html: {class: "pure-form"} do |s|%>
  <div class="field">
    <%= s.label :name %>
    <%= s.text_field :name %>
  </div>
  <div class="field">
    <%= s.label :artist_name %>
    <%= s.text_field :artist_name %>
  </div>
  <div class="field">
    <%= s.label :after_year %>
    <%= s.number_field :after_year %>
  </div>
  <div class="field">
    <%= s.label :before_year %>
    <%= s.number_field :before_year %>
  </div>
  <div class="field">
    <%= s.label :style %>
    <%= s.text_field :style%>
  </div>
  <div class="field">
    <%= s.label :medium %>
    <%= s.text_field :medium %>
  </div>
  <!-- <div class="field">
    <%= s.label :tags %>
    <%= s.text_field :tags %>
  </div> -->

  <div class="actions">
    <%= s.submit "Search", class: "pure-button pure-botton-primary" %>
  </div>
<% end %>
